body.admin_bar {
    padding-top: 32px;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
    margin: 0;
!important;
}

.woocommerce-notices-wrapper > div {
    margin: 35px 52px 0 52px;
}

@media (max-width: 768px) {
    .woocommerce-notices-wrapper > div {
        margin: 35px 15px 0 15px;
    }
}

.price del, .price ins {
    display: block;
}

.price del {
    font-size: 10px;
    color: #777;
}

.sin_price del, .sin_price ins {
    display: block;
}

.sin_price del {
    font-size: small;
}

ins {
    text-decoration: none;
}

.block2-btn-addcart {
    text-align: center;
    margin: auto;
}

.block2-btn-addcart .added_to_cart {
    color: #fff;
    font-size: small;
    font-weight: 500;
}

td.product-remove {
    padding-left: 50px;
}

/*.header-cart-item-img::after {*/
    /*content: '';*/
/*}*/